<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <h1>Hermades personal site</h1>

    <nav>
      <a class="link" href="/">Home</a>
      <a class="link" href="/blog">Blog</a>
      <a class="link" href="/projects">Projects</a>
      <a class="link" href="/about">About Me</a>
      <a class="link" href="/philosophy">Philosophy</a>
      <a class="link" href="/donate">Donate</a>
      <a class="link" href="">Source code</a>
    </nav>
